# 할당과 복사

In [2]:
#할당을 할 경우 같은 리스트 주소값을 공유한다.
my_list1 = [1, 2, 3]

In [3]:
my_list2 = my_list1

In [4]:
print(my_list1)
print(my_list2)

[1, 2, 3]
[1, 2, 3]

1과 2는 같은 리스트이기 때문에 한쪽이 변경되면 다른쪽도 변경되는 것 처럼 보인다.

In [5]:
my_list2.append(4)

In [6]:
print(my_list1)
print(my_list2)

[1, 2, 3, 4]
[1, 2, 3, 4]

# 할당 = allocation, 또 뭐랫찌

## 복사
* copy()
* [:]
* list()

In [8]:
# copy()
my_list_original = [10, 20, 30]
my_list_copy = my_list_original.copy()

my_list_copy.append(4)

print(my_list_original)
print(my_list_copy)

[10, 20, 30]
[10, 20, 30, 4]

In [9]:
# [:] 슬라이스
my_list_slice = my_list_original[:]

my_list_slice.append(40)

print(my_list_original)
print(my_list_slice)

#슬라이스는 원본 훼손 없이 복사해서 잘라내는 것, [:]은 처음부터 끝까지 잘라내는 것이므로 결국 복사와 같다

[10, 20, 30]
[10, 20, 30, 40]

In [10]:
# list()
my_list_list = list(my_list_original)

my_list_list.append(400)

print(my_list_original)
print(my_list_list)

[10, 20, 30]
[10, 20, 30, 400]

# 딕셔너리
딕셔너리를 다루는 방법과 데이터 분석을 하기 위해 사용하는 pandas사용법이 매우 유사

In [15]:
my_dict = {"name":"양소영", "age":27}
print(my_dict)

{'name': '양소영', 'age': 27}

In [16]:
print(my_dict["name"])

양소영

In [17]:
print(my_dict["age"])

27

딕셔너리 추가 수정 같은 = 없으면 만든다

In [18]:
my_dict["email"] = "sy_notsoold@gmail.com"
print(my_dict)

{'name': '양소영', 'age': 27, 'email': 'sy_notsoold@gmail.com'}

없던 키 값이면 데이터를 새로 만들고 있던거면 수정된다

In [20]:
my_dict["age"] = 25
print(my_dict)

{'name': '양소영', 'age': 25, 'email': 'sy_notsoold@gmail.com'}

딕셔너리의 결합

In [35]:
dict_a = {"a":1, "b":2}
dict_b = {"b":3, "d":4}

dict_a.update(dict_b)

print(dict_a)

{'a': 1, 'b': 3, 'd': 4}

In [23]:
my_dict = {'a': 10, 'b':20}

In [24]:
'a' in my_dict #'a'라는 키 값이 my_dict안에 있다

True

In [25]:
'c' in my_dict

False

In [26]:
print(my_dict)

{'a': 10, 'b': 20}

In [27]:
#key Error이라는게 떴으면 키가 존재하지 않는구나 해야됨

In [29]:
my_dict.keys()

dict_keys(['a', 'b'])

In [30]:
my_dict.values()

dict_values([10, 20])

In [31]:
my_dict.items()

dict_items([('a', 10), ('b', 20)])

In [32]:
# 딕셔너리 삭제
del my_dict["a"]
my_dict

{'b': 20}

In [33]:
#딕셔너리 전체 삭제
my_dict.clear()

In [34]:
my_dict

{}

# set(집합)

In [39]:
set_1 = {1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,1,2,3,4,6,7,8,4,6,7}
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [41]:
my_list = {1,2,3,4,5,6,7,8,1,23,4,5,6,8,8,34,2,5,7,8,5,3,3,4}
set2 = set(my_list)
print(set2)

#중복이 제거된 형태로 저장된다

{1, 2, 3, 4, 5, 6, 7, 8, 34, 23}

In [43]:
my_str = 'letter'
set3 = set(my_str)
print(set3)

#순서는 섞이고 문자열이 중복 제거 된 형태로 저장된다

{'e', 'l', 't', 'r'}

In [44]:
list(set3)

#위에 자료형 질문

['e', 'l', 't', 'r']

### 데이터 분석을 하기 위한 자료구조

* 통계, 수학 (보통 pandas)
* 머신러닝, 딥러닝 (tensor 개념)

In [45]:
list_2dim = [[10,20,30],
             [40,50,60]]
print(list_2dim)

[[10, 20, 30], [40, 50, 60]]

In [46]:
list_2dim[1]

[40, 50, 60]

In [47]:
list_2dim[1][1]

50

# 판다스 사용하기
* 설치: pip install pandas

In [1]:
import pandas as pd
import numpy as np

# pd와 np는 바꿔도 되지만 별명이라 국룰 같은거임

In [3]:
s = pd.Series([1,2,3,np.nan,6,7])
#nan = not a number
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
dtype: float64

In [4]:
dates = pd.date_range("20200828", periods=10)
dates

DatetimeIndex(['2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
#df=데이터 프레임
df = pd.DataFrame(np.random.rand(5,4),
                  index = [1,2,3,4,5],
                  columns = ['A','B','C','D'])
#5행 4열짜리 랜덥한 숫자 만들기
#index는 각 행의 대표 유니크 값 Ex.**별 ** ex) 년도별 수확량, 시간대별 미세먼지양
#column에 이름짓기 없으면 0,1,2,3 같은 offset number가 들어감

df

          A         B         C         D
1  0.909550  0.478640  0.511268  0.849819
2  0.825363  0.129250  0.204013  0.915999
3  0.572316  0.632950  0.560942  0.403603
4  0.657145  0.199675  0.016398  0.677102
5  0.509421  0.869244  0.224656  0.668674

In [6]:
df['A']
#A Column에 대한 Series가 나옴

1    0.909550
2    0.825363
3    0.572316
4    0.657145
5    0.509421
Name: A, dtype: float64

In [8]:
df[['A','C']]

          A         C
1  0.909550  0.511268
2  0.825363  0.204013
3  0.572316  0.560942
4  0.657145  0.016398
5  0.509421  0.224656

In [9]:
column_names = ['A', 'D']
df[column_names]

          A         D
1  0.909550  0.849819
2  0.825363  0.915999
3  0.572316  0.403603
4  0.657145  0.677102
5  0.509421  0.668674

In [10]:
df.loc[3]

A    0.572316
B    0.632950
C    0.560942
D    0.403603
Name: 3, dtype: float64

In [11]:
df.loc[:, ['A','C']]
# : 앞쪽은 row 선택, 전체행의 A와 C를 가져온다
#범위도 지정이 가능하다

          A         C
1  0.909550  0.511268
2  0.825363  0.204013
3  0.572316  0.560942
4  0.657145  0.016398
5  0.509421  0.224656

In [12]:
df.loc[1:3,['B','D']]

         B         D
1  0.47864  0.849819
2  0.12925  0.915999
3  0.63295  0.403603

In [16]:
df['A'] > 0.6

1     True
2     True
3    False
4     True
5    False
Name: A, dtype: bool

In [15]:
df[df['A'] > 0.6]

          A         B         C         D
1  0.909550  0.478640  0.511268  0.849819
2  0.825363  0.129250  0.204013  0.915999
4  0.657145  0.199675  0.016398  0.677102

In [18]:
df[df > 0.6]
#전체 데이터를 대상으로 비교한다

          A         B   C         D
1  0.909550       NaN NaN  0.849819
2  0.825363       NaN NaN  0.915999
3       NaN  0.632950 NaN       NaN
4  0.657145       NaN NaN  0.677102
5       NaN  0.869244 NaN  0.668674

B 컬럼의 값이 0.3보다 큰 상태에서 A,D만 뽑아주세요

In [21]:
df.loc[df['B'] > 0.3, ['A','D']]
#앞쪽은 행에대한 이야기, 뒷쪽은 열에 대한 이야기

          A         D
1  0.909550  0.849819
3  0.572316  0.403603
5  0.509421  0.668674